<footer class="siteFooter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="siteFooter-legal">
          Hosted with :heart: on <a href="{{ site.github.repository_url }}">GiHub <i class="fa fa-github"></i></a> <span class="middotDivider"></span> Last modified at {{ site.time | date: '%d %B, %Y' }}
          <span class="middotDivider"></span>
          <a href="{{ site.github.repository_url }}/feed.xml">RSS <i class="fa fa-feed"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>