---
layout: default
---

<main role="main" itemprop="mainContentOfPage">
  <article class="pageContent">

    <div class="container">
        {{ content }}
    </div>

  </article>
</main>

{% include footer.liquid %}